<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">{{title}}</a>
  </nav>

  <div class="row" style="margin:3em">
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary" (click)="getOrder()">Get an order</button>
      <div class="card" style="margin-top:1em">
        <div class="card-body">
          <pre>{{order | json}}</pre>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary" (click)="getDeliveryQuote()">Get Delivery Quote</button>
      <div class="card" style="margin-top:1em">
        <div class="card-body">
          <pre>{{deliveryQuote | json}}</pre>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary">Request Delivery</button>
      <div class="card" style="margin-top:1em">
        <div class="card-body">
          Print delivery request result
        </div>
      </div>
    </div>
  </div>
</div>